/* --------BASE-------- */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
  --body: #7f7d8e;
  --bgbody: #fff;
  --bgheader: #25292d;
  --text: #fff;
  --textbutton: #333333;
  --content-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  box-shadow: none;
  text-decoration: none;
}

body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: var(--bgbody);
  /* overflow-x: hidden; */
  object-fit: cover;
}

.menubar-pc a:nth-child(4),
.menubar-mobile a:nth-child(5) {
  color: #f84747;
}

/* --------ANIMATION-------- */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in linear 0.5s;
}

.fade-out {
  animation: fade-out linear 0.5s;
}

/* ------BOOKING------ */
.title {
  font-family: "Playfair Display", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
  color: var(--bgheader);
  /* text-align: center; */
}

.booking-container {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 200px;
  padding-right: 120px;
  display: flex;
  gap: 10px;
}

.booking-content {
  flex: 1;
}

.booking-content input,
.booking-content textarea {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ebeced;
  padding: 16px 18px;
}

.required {
  display: none;
  font-family: Poppins;
  line-height: 1em;
  padding-bottom: 17px;
  padding-left: 10px;
  color: red;
}

.img-booking-container {
  margin-top: 70px;
}

.name,
.booking-info,
.booking-time {
  display: flex;
  flex: 1;
  gap: 10px;
}

.alert-box {
  width: 100%;
}

.booking-content textarea {
  height: 150px;
  min-height: 150px;
}

.booking-content input:focus,
.booking-content textarea:focus {
  box-shadow: 1px 1px 3px #7f7d8e;
}

.btn {
  display: inline-block;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 17px 52px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

#submit-ajax {
  position: absolute;
  height: 55px;
  margin-top: 23px;
}

/* --------POPUP-------- */
#popup-booking {
  display: none;
}

.popup {
  position: fixed;
  background-color: rgba(22, 19, 19, 0.429);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.popup-title {
  color: #62bc62;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}

#popup-confirm-content {
  color: #25292d;
  font-family: "Noto Serif", serif;
  font-size: 22px;
  line-height: 42px;
  padding-bottom: 7px;
}

.popup-content svg {
  max-width: 180px;
  max-height: 180px;
}

.popup-close {
  border: none;
  padding: 10px 50px;
  font-family: 'Merriweather', serif;
  background-color: #000;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 1px 1px 5px #707076;
  margin-bottom: 10px;
  margin-top: 5px;
}

.popup-close:hover {
  scale: 1.02;
}

.popup-close:focus {
  scale: 0.95;
}

.info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.info-title{
  text-align:left;
}

.info-content{
  text-align: right;
}