* {
  max-width: 100%;
}

/* ? Mobile width < 740px */

@media screen and (max-width: 739px) {
  .content {
    padding: 0 5px;
  }
  .elementor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elementor-heading-title {
    display: flex;
    justify-content: center;
  }
  #img-signature {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .content1 {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .information-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
  }
  .information-item img {
    width: 100%;
    height: auto;
  }

  .fact-container {
    height: auto;
  }
  .fact-list {
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
    height: auto;
  }
  .feedback-container {
    display: flex;
    justify-content: center;
  }
  /* .feedbacks p {
    width: 93%;
  } */
  .h2 span {
    height: 100%;
  }
  .art-slogan h2 {
    font-size: 55px;
    line-height: 70px;
  }
  .art-12year {
    font-size: 50px;
  }
  .art-12year img {
    width: 35%;
  }
}

/* ? Tablet width >= 740px and < 1024px */
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .elementor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elementor-heading-title {
    display: flex;
    justify-content: center;
  }
  #img-signature {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .fact-list {
    padding-left: 0px;
  }

  .information-item img {
    width: 100%;
    height: auto;
  }

  .feedbacks-container {
    display: flex;
    justify-content: center;
  }
  .fact-list .fact-item {
    width: 95%;
    height: auto;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  /* --------NAVBAR-------- */
  #btn-open {
    display: block;
    margin-right: 30px;
  }
  .header-container-flex-desktop .menubar-pc {
    display: none;
  }

  .header-container-flex-desktop .Logo-desktop {
    padding: 0;
  }

  .header-container {
    top: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  /* --------FOOTER-------- */
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (max-width: 1023px) and (min-width: 740px) {
  /* --------NAVBAR-------- */
  #btn-open {
    display: block;
    margin-right: 30px;
  }
  .header-container-flex-desktop .menubar-pc {
    display: none;
  }
  .header-container {
    top: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
}

/* PC: width >= 1040px */
